/* css styles */

table caption,
caption {
  color: #222222 !important;
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  text-align: left !important;
  margin-bottom: 0.6rem !important;
}